<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-pickup-call-card status="hold"
  updatedAt="25/08/2024 12:30:00" createdAt="23/08/2024"
  notes="Menerima pesanan Trischies Pizza di seluruh dunia">
  </app-pickup-call-card>

  <app-pickup-call-card status="processing"
  updatedAt="25/08/2024 13:30:00" createdAt="23/08/2024"
  notes="Pesanan sedang di proses">
  </app-pickup-call-card>

  <app-pickup-call-card status="finished"
  updatedAt="26/08/2024 12:30:00" createdAt="23/08/2024"
  value="Rp 100.000"></app-pickup-call-card>

</ion-content>
